.vs
.vscode
Debug
*.log
AssetWorker/
*.vcxproj.user
*.TMP
packages/
*.user
bin/
obj/
/Prototype/imgui.ini
thirdparty/amd64/
Engine/cmake-build
cmake-build*
cmake-ninjabuild-x64-Debug/
cmake-ninjabuild-x64-Release/
