[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdparty/g3log"]
	path = thirdparty/g3log
	url = git@github.com:KjellKod/g3log.git
[submodule "thirdparty/DirectXTK"]
	path = thirdparty/DirectXTK
	url = git@github.com:Microsoft/DirectXTK.git
[submodule "thirdparty/Fakeit"]
	path = thirdparty/Fakeit
	url = git@github.com:eranpeer/FakeIt.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
