.vs
.vscode
Debug
*.log
*.vcxproj.user
*.TMP
packages/
*.user
bin/
obj/
/Prototype/imgui.ini
Engine/cmake-build
cmake-build*
cmake-ninjabuild-x64-Debug/
cmake-ninjabuild-x64-Release/
Orangine/Build/
Orangine/imgui.ini
Orangine/.idea/
Orangine/ViewerApp/data/lib/__pycache__/
Orangine/ViewerApp/data/scripts/__pycache__/

thirdparty/pybind11
thirdparty/build_DirectXTK.txt
thirdparty/build_The-Forge.txt
thirdparty/The-Forge

Orangine/OeScripting/data/OeScripting/lib/__pycache__/
thirdparty/amd64/
thirdparty/cmake-*
thirdparty/pybind11
thirdparty/DirectXTK/
thirdparty/g3log/
thirdparty/glTF-Sample-Models/
thirdparty/googletest/
thirdparty/imgui/
thirdparty/tinygltf/
